@font-face {
    font-family: 'myriad', sans-serif;
    src:  url('fonts/MyriadProRegular.ttf');    
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: #f9f8f8;}
body,a{ text-decoration: none; overflow-x: hidden;}

body header{ background-color: #090024;min-height: 40vh; margin-bottom: 40px; position: relative; top: 0; left: 0; }
body header .header_video{ position: absolute; top: 30%; left: 0; height: auto; width: 100%; }
body header .header_video figure{ background-color: #090024; width: 100%; height: auto; object-fit: cover;}
body header .header_video figure img{ width: 100%; height: 100%; }

body header .header_content { width: 90%; height: auto; position: absolute; top: 27%; left: 5%; padding: 0 7px; text-align: center; }
body header .header_content .logo_banner_header_hs{ display: flex; justify-content: center; align-items: center; width: 100%; margin: 25px 0 20px 0; }
body header .header_content .logo_banner_header_hs figure{ width: 22%; height: 20%; object-fit: cover; }
body header .header_content .logo_banner_header_hs figure img{ width: 100%; height: 100%; }
body header .header_content .logo_banner_header_hs h1{ color: #d87a1d; font-family: 'myriad', sans-serif; font-size: 1.7rem; font-weight: normal; margin-bottom: 0; padding: 7px 2px 7px 7px; }
body header .header_content h2{ color: #FFFFFF; font-family: 'myriad', sans-serif; font-size: 1.3rem; font-weight: normal; }

body header .logo{ z-index: 0;}
.logo_image{ display: none; }
body header .logo #show_menu{ color:#fff; }
body header .logo #show_menu::before{ font-size: 20px; position: absolute; top: 12px; right: 5px; }
body header .logo #show_menu:hover{ border: 1px dotted #fff; }
body header .logo #close_menu{ color:#fff; }
body header .logo #close_menu::before{ font-size: 20px; }
body header .logo #close_menu:hover{ border: 1px dotted #fff; }
body header .header_hr{ display: none; background-color: #4d5566;  height: 5px; position: absolute; top: 119px; left: 0; width: 100vw; }
body .fixed_home .return a::before{ color: #FFFFFF; }

body .general_container{ color: #4d5566; position: relative; top: 50px; left: 0;}
body section article{ position: relative; top: 0; left: 0; z-index: 99; }
body section article .about_us{ background-color: #FFFFFF; display: block; margin-left: 5%; margin-bottom: 0; width: 90%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); transition: transform 0.3s ease; }
body section article .about_us p{ font-family: 'Ubuntu', sans-serif; font-size: 1rem; line-height: 1.5; text-align: left; padding: 1.2rem; }
body section article .about_us:hover{ transform: scale(1.05); }

body section article .item_container div{ border-radius: 8px; background-color: #FFFFFF; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); font-size: 14px; width: 90%; height: auto; line-height: 1.5; margin-left: 5%; margin-bottom: 50px; padding: 20px; text-align: left; transition: transform 0.3s ease; }
body section article .item_container .item_hover:hover{ transform: scale(1.05); }
body section article .item_container{ display: block; margin: 50px 0; }
body section article .our_mission{ margin-right: 15px;}
body section article .our_mission h2{ color: #d87a1d; font-family: 'Ubuntu'; font-size: 1.5rem; line-height: 1; padding-left: 20px; margin-bottom: 0; }
body section article .our_mission p{ color: #0a0a3c; font-family: 'myriad', sans-serif; font-size: 1rem; line-height: 1.5; text-align: left; padding: 1.2rem; }
body section article .our_vision h2{ color: #eb7305; font-family: 'Ubuntu'; font-size: 1.5rem; line-height: 1; padding-left: 20px;  margin-bottom: 0; }
body section article .our_vision p{ color: #090024; font-family: 'myriad', sans-serif; font-size: 1rem; line-height: 1.5; text-align: left; padding: 1.2rem; }
body section article .our_values{ border-radius: 8px; background-color: #FFFFFF; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); display: block; margin-left: 5%; margin-bottom: 150px; padding: 20px 0 30px 10px; width: 90%; transition: transform 0.3s ease; }
body section article .our_values h2{ font-family: 'Ubuntu'; font-size: 1.5rem; width: 90%; line-height: 2; margin-left: 5%; }
body section article .our_values p{ font-family: 'Ubuntu', sans-serif; font-size: 1rem; line-height: 1.5; text-align: left; padding: 2rem; }
body section article .our_values ul li{ font-family: 'myriad', sans-serif; font-size: 1rem; line-height: 1.5; list-style: none; text-align: left; padding: 1rem 2rem; }
body section article .our_values:hover{ transform: scale(1.05); }
body footer .contentec_footer .contenct_social_copy .red_social a{ box-sizing: content-box; }

@media only screen and (min-width: 480px) { 
body header{ min-height: 60vh; }
body header .header_content { position: absolute; top: 33%; left: 5%; }
body header .header_content .logo_banner_header_hs{ margin: 25px 0 35px -5px; }
body header .header_content .logo_banner_header_hs h1{ font-size: 2.5rem; }
body header .header_content h2{ font-size: 1.5rem; }
body section article{ position: relative; top: 0; left: 0; z-index: 1; }
body section article .about_us p{ font-size: 1.1rem; }
body section article .our_mission h2{ font-size: 1.5rem; }
body section article .our_mission p{ font-size: 1.1rem; }
body section article .our_vision h2{ font-size: 1.5rem; }
body section article .our_vision p{ font-size: 1.1rem; }
body section article .our_values h2{ font-size: 1.5rem; }
body section article .our_values p{ font-size: 1.1rem; }
body section article .our_values ul li{ font-size: 1.1rem; }
}

@media only screen and (min-width: 600px) {
body header .header_content .logo_banner_header_hs h1{ font-size: 2.7rem; }
body header .header_content h2{ font-size: 1.7rem; }
body section article{ position: relative; top: 0; left: 0; z-index: 1; }

}

@media screen and (min-width: 768px) {
  body header .header_video{ position: absolute; top: 20%; left: 0; }
  body header .header_content { width: 90%; height: auto; position: absolute; top: 30%; left: 5%; padding: 0 7px; }
body header .header_content .logo_banner_header_hs{ margin: 25px 0 25px 0; }
body header .header_content .logo_banner_header_hs figure{ width: 20%; height: 20%; object-fit: cover; }
body header .header_content .logo_banner_header_hs h1{ font-size: 3.5rem; }
body header .header_content h2{ font-size: 2.2rem; }
}

@media screen and (min-width: 900px) {

  body header{ margin-bottom: 130px; }
  body header .header_video{ position: absolute; top: 155px; left: 0; }
  body header .header_content { width: 90%; height: auto; position: absolute; top: 50%; left: 5%; padding: 0 7px; }
body header .header_content .logo_banner_header_hs figure{ width: 19%; height: 19%; object-fit: cover; }
body header .header_content .logo_banner_header_hs h1{ font-size: 3.5rem; }
body header .header_content h2{ font-size: 2.2rem; }  
  body header .logo{ display: flex; width: 100vw; height: 100px; z-index: 2; position: absolute; top: 0; left: 0;}
body header .logo .info_header{ margin: 0 30% 0 12%; }
body header .logo .info_header a{ font-size: 1rem; }
body header .logo .red_social{ width: 23%; height: 40px; position: absolute; top: 35px; right: 15%; text-align: right;}
body header .logo .red_social a{ width: 15%; margin: 2px 2px 0 5px; padding: 3px; }  
  body header .header_hr{ display: block; height: 2px; position: absolute; top: 100px; left: 0; width: 100vw; }
  
  body header nav { position: absolute; top: 108px; left: 0; }

  /*body section article .about_us{ display: flex; }*/
  body section article .about_us p{ font-size: 1.3rem; }
  body section article .item_container{ display: flex; margin-bottom: 10px; width: 95%; }
  body section article .item_container div{ width: 100%; }  
body section article .our_mission h2{ font-size: 1.7rem; }
body section article .our_mission p{ font-size: 1.3rem; }
body section article .our_vision h2{ font-size: 1.7rem; }
body section article .our_vision p{ font-size: 1.3rem; }
body section article .our_values h2{ font-size: 1.7rem; }
body section article .our_values p{ font-size: 1.3rem; }
body section article .our_values ul li{ font-size: 1rem; }
}

@media only screen and (min-width: 1024px){
  
  body header .header_video{ position: absolute; top: 155px; left: 0; }
  body header .header_content { width: 90%; height: auto; position: absolute; top: 80%; left: 5%; padding: 0 7px; }
  body header .header_content .logo_banner_header_hs{ margin: 25px 0 50px 0; }
  body header .header_content .logo_banner_header_hs figure{ width: 15%; height: 98px; object-fit: cover; }
  body header .header_content .logo_banner_header_hs h1{ font-size: 4.2rem; padding-left: 20px;}
  body header .header_content h2{ font-size: 2.5rem; }
  body .general_container{ position: relative; top: 250px; left: 0; margin-bottom: 400px;}
  body section article .our_values{ display: flex; }
  body section article .our_values h2{ width: 60%; line-height: 5; padding-top: 15%; font-size: 2rem; padding-left: 17px; }
  body section article .our_values p{ line-height: 1.5; text-align: left; padding: 2rem; }
  body section article .our_values ul li{ line-height: 1.5; list-style: none; text-align: left; padding: 1rem 2.2rem; }
  
}

@media only screen and (min-width: 1400px) {  
  
  body header .header_content { transform: translateY(-30%); }
  body header .logo .info_header{ margin: 0 30% 0 12%; }
  body header .logo .info_header a{ font-size: 1rem; }
  body header .logo .red_social{ width: 23%; height: 40px; position: absolute; top: 35px; right: 5%; text-align: right; }
  body header .logo .red_social a{ width: 15%; margin: 2px 2px 0 5px; padding: 3px; }

  body .general_container{ width: 80%; margin-left: 10%; }
}

@media only screen and (min-width: 1600px) {  
  body header .header_content { transform: translateY(-40%); }
  body header .header_content .logo_banner_header_hs figure{ width: 13%; height: 110px; object-fit: cover; }
  body header .header_content .logo_banner_header_hs h1{ font-size: 5rem; }
  body header .header_content h2{ font-size: 3rem; }
  
  body section article .our_values h2{ padding-top: 10%; font-size: 2rem; }
} 
