@font-face {
    font-family: 'myriad', sans-serif;
    src:  url('fonts/MyriadProRegular.ttf');    
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
*{margin: 0; padding: 0; box-sizing: content-box;}
body,a { color: #e0e0e0; }
body ul, body li { list-style: none; }
body header{ align-items: center; display: flex; min-width: 100%; min-height: 100vh; margin-bottom: 30px;}
body header .header_video{ position: absolute; top: 0; left: 0; height: 100vh; width: 100%; overflow: hidden; }
body header .header_video video{ width: 100vw; height: 100vh; object-fit: cover;}
body header .header_overlay{ background-color: #090024; height: 100vh; width: 100vw; position: absolute; top: 0; left: 0; z-index: 1; opacity: .70;}

body header .logo{ display: flex; width: 100vw; height: 100px; z-index: 2; position: absolute; top: 0; left: 0;}
body header .logo figure{ width: 100px;height: 100%; margin-left: 20px;}
body header .logo figure img{ width: 100%; height: 100%;}
body header .logo figure:hover{cursor: pointer;}
body header .logo .info_header{ display: none; margin: 0 30% 0 8%; text-align: center; }
body header .logo .info_header a { font-family: 'myriad', sans-serif; color: #d87a1d; font-weight: bold; font-size: 15px; } /* Cambiado de #eb7305 */
body header .logo .red_social{ display: none; width: 30%; position: absolute; top: 35px; right: 20px; height: 40px; }
body header .logo .red_social a{ width: 10%; height: 30px;display: inline-block; margin: 2px 2px 0 20px; padding: 3px; }
body header .logo .red_social a::before{ color: #eb7305; font-family: "icomoon"; text-decoration: none; font-size: 1.2em; }
body header .logo .red_social a:nth-child(1)::before{content: "\ea90";}
body header .logo .red_social a:nth-child(2)::before{content: "\ea92";}
body header .logo .red_social a:nth-child(3)::before{content: "\ea93";}
body header .logo .red_social a:nth-child(4)::before{content: "\eaca";}
body header .logo .red_social a:hover::before{color: #ffffff;}
body header .header_hr{ display: none; background-color: #4d5566; height: 2px; position: absolute; top: 100px; left: 0; width: 100vw; }
body header .logo .header_content { width: 100%; position: absolute; top: 70%; transform: translateY(33%);  left: 0; }
body header .logo .header_content h1{ font-family: 'Ubuntu'; font-size: 35px; margin-bottom: 0; margin-left: 7%; }
body header .logo .header_content p{ font-family: 'myriad', sans-serif; font-size: 1rem; display: block; padding: 0 5% 2rem 7%; }
body header .logo #show_menu{ display: block; color:#eb7305; width: 50px; height: 50px; position: absolute; top: 20px; right: 30px; }
body header .logo #show_menu::before{ content: '|||'; transform: rotate(90deg);font-size: 27px;font-weight: bolder; position: absolute; top: 10px; right: 14px; /*padding: 5px 15px 5px 8px;*/}
body header .logo #show_menu:hover{cursor: pointer; border-radius: 3px; border: 1px dotted #eb7305; }
body header .logo #close_menu{ display: none; color:#eb7305; width: 50px; height: 50px; position: absolute; top: 20px; right: 30px;}
body header .logo #close_menu::before{content: 'X'; font-size: 27px; font-weight: bolder; position: relative; top: 10px; right: -16px;}
body header .logo #close_menu:hover{cursor: pointer; border-radius: 3px; border: 1px dotted #eb7305;}
body header nav {display: none; background-color: #ffffff; width: 100vw;  height: 220px; position: absolute; top: 90px; left: 0; z-index: 2;}
body header nav ul{ display: block; list-style: none; margin-bottom: 60px;}
body header nav ul li{ cursor: pointer; padding: 10px 20px; position: relative; top: 0; left: 0;}
body header nav ul li a { font-family: 'Ubuntu'; font-size: 16px; color: #0a0a3c; } /* Cambiado de #090024 */
body header nav ul li a:hover {
  text-decoration: underline;
}/*nav ul li a:hover { color: #d87a1d; }*/ /* Cambiado de #eb7305 */

body .general_container{ width: 100%; position: relative; top: 0; left: 0;}
body .btn_action_section{width: 100%; align-items: center; margin-top: 15px; padding-bottom: 30px;}
body .btn_action_section .btn_action_container{ display: block; width: 85%; position: relative; top: 0; left: 7%;}
body .btn_action_section .btn_action_container div{ height: 30px; width: 90%; margin-top: 30px; padding: 10px 10px 10px 5%;}
body .btn_action_section .btn_action_container #btn-services{background-color: #eb7305; font-family: 'Ubuntu'; font-size: 1em; margin-top: 30px; line-height: 1.7em; text-align: center;}
body .btn_action_section .btn_action_container #btn-cotizar a{ color: #eb7305; }
body .btn_action_section .btn_action_container #btn-cotizar{border: 1px solid #eb7305; color: #ffffff; font-family: 'Ubuntu'; font-size: 1em; line-height: 1.7em; text-align: center;}
body .btn_action_section .btn_action_container #btn-services:hover{background-color: #eb7305; color: white; font-weight: bold;}
body .btn_action_section .btn_action_container #btn-cotizar:hover{border: none; background-color: #090024; color: white; font-weight: bold; height: 30px;}

body .container_cookies{ display: none; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100vh; margin: 0 auto; padding: 0;  position: fixed; top: 0; left: 0; z-index: 99999; }
    body .container_cookies .overlay_cookies{ cursor: pointer; background-color: #333; opacity: .70; width: 100%; height: 100vh; margin: 0 auto; padding: 0; }
    body .container_cookies .overlay_cookies p{ cursor: pointer; color: #ffffff; font-weight: bold; text-align: right; padding: 10% 20% 0 0; }
    body .container_cookies .contenido{ background-color: #f4f4f4; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  color: #333; font-family: Arial, Helvetica, sans-serif; width: 70%; max-width: 70%; height: 700px; position: absolute; top: 10%; left: 10%; padding: 10px; overflow-y: auto; z-index: 6; }   
    body .container_cookies .contenido h2 { font-size: 1.5rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 20px; }    
    body .container_cookies .contenido h4 { font-size: 1.1rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 15px; }
    body .container_cookies .contenido h5 { font-size: 1.2rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 15px; }
    body .container_cookies .contenido h6 { font-size: 1.1rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 15px; }
    body .container_cookies .contenido ul { padding-left: 20px; margin-bottom: 20px; }
    body .container_cookies .contenido .list_cookies { list-style: decimal; }
    body .container_cookies .contenido .list_cookies li { font-size: 1rem; line-height: 1.5; margin-bottom: 10px; }
    body .container_cookies .contenido .use_cookies { list-style: disc; }    
    body .container_cookies .contenido p { font-size: 1rem; line-height: 1.5; margin-bottom: 10px; }
  
body .services{ transition-duration: 0.3s; color: #333; padding-bottom: 30px; width: 100%; margin-top: 100px;}
body .services:hover{box-shadow: 0 0 8px rgba(0,0,0,0.6);}
body .services .services_content{ width: 100%; height: auto; }
body .services .services_content h2{ font-family: 'Ubuntu'; font-weight: bold; font-size: 1.8em; margin: 20% 0 20% 12%; padding-top: 60px; }    
body .services .services_content .services_item{ display: block; width: 100%; margin-left: 0; }
body .services .services_content .services_item div{ width: 70%; margin: 10px 0 0 15%; height: auto; padding-bottom: 30px; transition-duration: 0.3s; }
body .services .services_content .services_item div figure{ width: 100%; height: 0; }
body .services .services_content .services_item div figure img{width: 100%; }
body .services .services_content .services_item div h3{ font-family: 'myriad', sans-serif; font-size: 20px; padding: 10px 14px; margin-top: 79%;}
body .services .services_content .services_item div p{ font-family: 'myriad', sans-serif; font-size: 16px; line-height: 1.5em; padding: 10px;}
body .services .services_content .services_item div p a{color: #333;} 
body .services .services_content .services_item .hover_item:hover{box-shadow: 2px 3px 3px black; z-index: 999999;}

body .about{ display: flex; min-width: 100vw; min-height: 100vh; margin-bottom: 50px; padding-bottom: 50px; }
body .about:hover{box-shadow: 0 0 8px rgba(0,0,0,0.6);} 
body .about .about_content{ width: 100%; height: auto; position: relative; top: 0; left: 0; }
body .about .about_content h2{ color: #333; font-family: 'Ubuntu'; font-weight: bold; font-size: 2em; text-align: center; padding: 100px 0 60px 0; }
body .about .about_content .about_colum{ background-color: #f5f5f5; width: 50%; height: 950px; max-height: 100%; position: static; top: 0; left: 0; }
body .about .about_content .general_container{ display: flex; flex-direction: column; width: 100%; height: auto;  position: absolute; top: 270px; left: 0;}
body .about .about_content .general_container .content_item{ display: block; width: 70%; height: auto; margin-left: 15%; margin-bottom: 50px; }
body .about .about_content .general_container .content_item .devsoft{ color: #ffffff; font-family: 'myriad', sans-serif; width: 100%; position: relative; top: 0; left: 0; }
body .about .about_content .general_container .content_item .difuminado{ background: linear-gradient(rgba(0,0,0,0) 50%, #090024); display: flex; width: 100%; max-width: 100%; justify-content: center; height: 100%; max-height: 100%; position: absolute; left: 0; bottom: 50px; z-index: 99;}
body .about .about_content .general_container .content_item .about_box figure{ display: flex; width: 100%; max-width: 100%; justify-content: center; height: auto; }
body .about .about_content .general_container .content_item .about_box figure img{ width: 100%; height: auto; max-width: 100%; object-fit: contain;}
body .about .about_content .general_container .content_item .devsoft h3,
body .about .about_content .general_container .content_item .devsoft p{ position: relative; bottom: 90px; left: 0; margin: 5px 5px 0 6%; width: auto; z-index: 999; }
body .about .about_content .general_container .content_item .profile{ font-family: 'myriad', sans-serif; width: 100%; height: auto; } 
body .about .about_content .general_container .content_item .profile p{ width: 100%; height: auto; color: #333;  font-size: 16px; line-height: 1.5em; padding: 10px 0 10px 0; text-align: left; }
body .about .about_content .general_container a{ background-color: #eb7305; font-family: 'myriad', sans-serif; font-size: .9em; font-weight: bold; text-decoration: none; color: #fff; cursor: pointer; padding: 20px 2%; margin-left: 13%; width: 70%; text-align: center; }
body .about .about_content .general_container a:hover{background-color: #090024;}

body .our_projects{ margin-bottom: 0; width: 100%; height: auto; }
body .our_projects h2{ font-family: 'Ubuntu'; color: #333; font-weight: bold; font-size: 2em; padding: 20px 5x 50px 5px; text-align: center; position: relative; top: 20px; left: 0;}
body .our_projects .our_projects_container{ background-color: #f5f5f5; width: 100%; height: 40%; margin-top: 50px;}    
body .our_projects .our_projects_container .container_item{ display: block; padding: 10px;}
body .our_projects .our_projects_container .container_item .projects_item { width: 100%; height: 70%; position: relative; left: 0; top: 0; }
body .our_projects .our_projects_container .container_item .projects_item .difuminado{background: linear-gradient(rgba(0,0,0,0) 50%, #090024 ); display: flex; width: 100%; max-width: 100%; justify-content: center; height: 100%; max-height: 100%; z-index: 99; position: absolute; left: 0; bottom: 15px; overflow-y: hidden;} 
body .our_projects .our_projects_container .container_item .projects_item figure{ display: flex; width: 100%; max-width: 100%; justify-content: center; height: auto; }
body .our_projects .our_projects_container .container_item .projects_item figure img{width: 100%; height: auto; max-width: 100%; object-fit: contain;} 
body .our_projects .our_projects_container .container_item .projects_item h3{ font-family: 'myriad', sans-serif; position: relative; top: -70px; left: 25px; bottom: 75px; color: #ffffff; width: 80%; z-index: 99999; }
body .our_projects .our_projects_container .container_item .projects_item h3 a{ font-family: 'myriad', sans-serif; font-size: 1em;}

body .testimonial{ margin: 100px 0; width: 100%; height: auto; }
body .testimonial h4{ color: #333; font-family: 'myriad', sans-serif; font-size: 1.1em; margin: 20px 20px 22px 20px; text-align: center; }
body .testimonial h2{ font-family: 'Ubuntu'; color: #333; font-weight: bold; font-size: 2.2em; text-align: center; margin-bottom: 22px; }
body .testimonial .container{ margin-top: 70px; position: relative; top: 0; left: 10%; width: 80vw; }
body .testimonial .container .testimonial_grid { display: block; }
body .testimonial .container .testimonial_grid .card_testimonial{ background-color: #eb7305; width:  100%; height: 350px; position: relative; top: 0; left: 0; margin-bottom: 18px; }
body .testimonial .container .testimonial_grid .card_testimonial .card_container{background-color: #090024; position: absolute; left: 0; top: 0; width: 100%;  height: 97%; }
body .testimonial .container .testimonial_grid .card_testimonial .card_container figure{ border-radius: 50px; background-color: aliceblue; margin: 25px 0 25px 25px; width: 70px; height: 70px;}
body .testimonial .container .testimonial_grid .card_testimonial .card_container figure img{ border-radius: 50px; width: 100%; height: 100%; }
body .testimonial .container .testimonial_grid .card_testimonial .card_container h4{ color: #eb7305; font-family: 'myriad', sans-serif; font-weight: bold; margin: 0 0 15px 25px; text-align: left;}
body .testimonial .container .testimonial_grid .card_testimonial .card_container h3{ color: #fff; font-family: 'myriad', sans-serif; font-weight: bold; line-height: 2.1em; margin-left: 25px;}
body .testimonial .container .testimonial_grid .card_testimonial .card_container p{ color: #fff; font-family: 'myriad', sans-serif; font-size: 12px; text-align: left; line-height: 1.5em; padding: 0 25px;}

body .section_quote{  position: relative; top: 50px; left: 0; width: 100%;  height: auto; padding-bottom: 100px;} 
body .section_quote .content_background{ background-color: #f5f5f5; width: 100%; height: auto; padding-bottom: 100px; }
body .section_quote .content_background .content_quote{display: block; background-color: #090024; position: relative; top: 55px; left: 5%; width: 90vw; height: auto; }
body .section_quote .content_background .content_quote .form_title{ background-color: #eb7305; padding: 5%; width: 90%; }
body .section_quote .content_background .content_quote h2{ font-family: 'Ubuntu'; margin-bottom: 20px; font-weight: bold; font-size: 1.9em; }
body .section_quote .content_background .content_quote p{ font-family: 'myriad', sans-serif; margin-bottom: 20px; font-size: 18px;}
body .section_quote .content_background .content_quote .quote_form{ padding: 10px 0 70px 0; width: 100%;}
body .section_quote .content_background .content_quote .quote_form form{ width: 80%; margin-left: 10%;} 
body .section_quote .content_background .content_quote .quote_form form label{ font-family: 'myriad', sans-serif; font-size: 17px; color: #fff; margin-left: 15px;}
body .section_quote .content_background .content_quote .quote_form form select{ font-family: 'myriad', sans-serif; font-size: 17px; color: gray; }
body .section_quote .content_background .content_quote .quote_form form input{ font-family: 'myriad', sans-serif; font-size: 15; }
body .section_quote .content_background .content_quote .quote_form form input, select, textarea{ border: none; border-bottom: 2px solid gray; display: block; font-weight: bold; margin: 10px 0 30px 0; width: 92%; height: 45px; padding: 10px; } 
body .section_quote .content_background .content_quote .quote_form form textarea{ height: 90px; font-size: 15px; padding-top: 5px;}
body .section_quote .content_background .content_quote .quote_form form button{ background-color: #eb7305; color: #fff; border: none; border-radius: 5px; font-size: 18px; font-weight: bold; /*margin-left: 10px;*/ padding: 12px 5px; width: 95%; }

body .fixed_home{ position: fixed; bottom: 40px; right: 15px; width: 60px; height: 150px; z-index: 99999999;}
body .fixed_home .return{ border-radius: 18px; width: 40px; height: 50px; margin: 20px 10px 10px 10px;}
body .fixed_home .return:hover{cursor: pointer;}
body .fixed_home .return a::before{ background-color: #eb7305; border-radius: 18px; content: '<'; transform: rotate(90deg); font-size: 30px; font-weight: bold; position: absolute; top: 24px; left: 5px; padding: 0 15px; }
body .fixed_home .whatsapp{ border-radius: 50px; margin: 10px 5px 0 5px; width: 40px; height: 40px; position: relative; top: 10px; left: 5px;}
body .fixed_home .whatsapp a::before{  border-radius: 50px; content: "\ea93";  color: #01b23b; font-family: "icomoon"; font-size: 2.5em; text-decoration: none;position: absolute;top: 0;left: 0; width: 40px; height: 40px; }

@keyframes bajar{0%{bottom: 0px;} 80%{bottom: 0px;} 100%{bottom: -50px;}}
@keyframes subir{0%{bottom: -38px;} 10%{bottom: 0px;} 80%{bottom: 0px;} 100%{bottom: -38px;}}
#id_galletas:target{display: none;}
.galletas{font-family: 'Ubuntu'; width: 100%; height: 43px; margin: 0 auto; padding-left: 1%; padding-top: 5px; font-size: .6em; clear: both; font-weight: strong; color: #fff; bottom: 0px; position: fixed; left: 0px; background-color: #eb7305; opacity: 0.7; filter: alpha(opacity=70); transition: bottom 1s; box-shadow: 3px 3px 1px rgba(50, 50, 50, 0.5); z-index: 99999999;}
.galletas a{color: #090024;}
.galletas:hover{bottom: 0px;}
#galleta1{background-color: #eb7305; display: inline; font-size: 12px; height: 30px; opacity: 0.95; position: absolute; left: 1%; top:-30px; padding-left: 25px; padding-right: 25px; border-top-right-radius: 15px; border-top-left-radius: 15px; box-shadow: 3px 3px 1px rgba(50, 50, 50, 0.5);}

body footer{ background-color: #090024; color: #d87a1d;} 
body footer .contentec_footer{display: flex; justify-content: space-evenly; flex-wrap: wrap; width: 90%; margin: auto; padding-top: 20px;} 
body footer .contentec_footer .info_contect{color: #fff; display: flex; flex-wrap: wrap; flex-grow: 2; justify-content: space-evenly; margin-bottom: 25px;}
body footer .contentec_footer .info_contect ul .title_footer{font-family: 'Ubuntu'; font-size: 1.2rem; font-weight: bold;}
body footer .contentec_footer .info_contect ul li{color: #d87a1d; font-family: 'myriad', sans-serif; font-size: 1rem;padding: .7rem;}
body footer .contentec_footer .info_contect ul li a:hover{color: #ffffff; cursor: pointer;}
body footer .contentec_footer .info_contect .opening_hours ul li{color: #ffffff;}
body footer .contentec_footer .footer_hr{ position: static; top: 0; left: 0; background-color: #4d5566; width: 100%;}
body footer .contentec_footer .contenct_social_copy{display: flex; flex-flow: wrap row-reverse;justify-content: space-between;padding: 30px 0; width: 90%;}
body footer .contentec_footer .contenct_social_copy .red_social{display: flex; flex-direction: row;margin: auto;}
body footer .contentec_footer .contenct_social_copy .red_social a{/*background-color: #f4f4f4;*/ justify-content: center;border-radius: 50%; width: 40px; height: 40px;margin: 0 0.6rem; text-align: center; padding: 6px 0;}
body footer .contentec_footer .contenct_social_copy .red_social a::before{ color: #eb7305; font-family: "icomoon"; text-decoration: none; font-size: 1.5em;}
body footer .contentec_footer .contenct_social_copy .red_social a:nth-child(1)::before{content: "\ea90";}
body footer .contentec_footer .contenct_social_copy .red_social a:nth-child(2)::before{content: "\ea92";}
body footer .contentec_footer .contenct_social_copy .red_social a:nth-child(3)::before{content: "\ea93";}
body footer .contentec_footer .contenct_social_copy .red_social a:nth-child(4)::before{content: "\eaca";}
body footer .contentec_footer .contenct_social_copy .footer_copy{flex-direction: row;font-family: 'myriad', sans-serif; font-size: .6em; font-weight: lighter; letter-spacing: .1em;margin: 20px auto;padding: 15px 0; text-align: center;width: 100%;}
@media only screen and (min-width: 480px) { 
    
    body header{ margin-bottom: 250px;}
    body .btn_action_section .btn_action_container{ position: relative; top: 0; left: 9%;}
    body .btn_action_section .btn_action_container #btn-cotizar:hover{ border: none; background-color: #090024; }
    body .services .services_content h2{ font-size: 2.5em; padding-top: 60px; }
    body .about .about_content .about_colum{ height: 980px; }
    body .our_projects h2{ padding-bottom: 50px; }
    body .testimonial .container{ position: relative; top: 0; left: 20%; width: 60vw; }    
    .galletas{font-size: .7em;  }
    body .section_quote .content_background .content_quote{ position: relative; top: 55px; left: 15%; width: 70vw; }    
    body footer .contentec_footer .contenct_social_copy .footer_copy{font-size: .7em;}
    
}

@media only screen and (min-width: 600px) {
    
    body header{ margin-bottom: 90px;}
    body .btn_action_section .btn_action_container{ position: relative; top: 0; left: 7%; }
    body .container_cookies .contenido{ width: 70%; max-width: 70%; position: absolute; top: 10%; left: 15%;} 
    body .services .services_content h2{ font-size: 2.5em; padding-top: 60px; }
    body .about{ display: flex; height: 100%; max-height: 100%; }
    body .about .about_content .about_colum{ height: 1000px; padding-bottom: 200px; }
    body .about .about_content .general_container a{ font-size: 1em; }
    body .our_projects h2{ padding-bottom: 50px; }
    body .testimonial .container{ position: relative; top: 0; left: 20%; width: 60vw; }
    body .section_quote .content_background .content_quote{position: relative; top: 55px; left: 15%; width: 70vw;}  
    body footer .contentec_footer .contenct_social_copy .footer_copy{font-size: .9em;}
}

@media screen and (min-width: 768px) {
    
    body header .logo .header_content { position: absolute; top: 100%; transform: translateY(60%);  left: 0; }
    body header .logo .header_content h1{ font-size: 55px; }
    body header .logo .header_content p{ font-size: 1.1rem; padding-bottom: 2rem; }
    body .btn_action_section .btn_action_container{ display: flex; width: 85%; position: relative; top: 0; left: 7%;}
    body .btn_action_section .btn_action_container div{ width: 25%; margin-right: 80px; margin-top: 30px; }
    body .btn_action_section .btn_action_container #btn-cotizar a{ color: #ffffff; }
    body .btn_action_section .btn_action_container #btn-cotizar:hover{ border: none; background-color: #eb7305; }
    
    body .container_cookies .contenido{ width: 70%; max-width: 70%; position: absolute; top: 10%; left: 15%; }
    body .container_cookies .overlay_cookies p{ padding: 5% 10% 0 0; }

    body .services{ padding-bottom: 30px; margin-top: 0;}    
    body .services .services_content{ width: 100%; height: auto; }
    body .services .services_content .general_container{ width: 80%; height: auto; margin-left: 10%;}
    body .services .services_content h2{ font-size: 2em; margin: 0 0 50px 12%; padding-bottom: 30px; width: 80%; }    
    body .services .services_content .services_item{ display: flex; width: 100%; }
    body .services .services_content .services_item .hover_item{ width: 70%; margin: 10px; height: auto; }

    body .about .about_content .about_colum{ height: 470px; }
    body .about .about_content .general_container .content_item{ display: flex; width: 80%; height: auto; margin-right: 20px; margin-left: 9%; margin-bottom: 50px; }
    body .about .about_content .general_container .content_item .profile{ margin-left: 10%; width: 100%; height: auto; } 
    body .about .about_content .general_container .content_item .profile p{ padding: 60px 0 10px 0; }
    body .about .about_content .general_container a{ font-size: 1em; cursor: pointer; padding: 20px 2%; margin-left: 25%; width: 40%;  }
     
    body .our_projects .our_projects_container .container_item{ display: flex; padding: 0 10px; }
    body .our_projects .our_projects_container .container_item .projects_item { width: 100%; height: 435px; margin: 10px 0; position: relative; left: 0; top: 0; }
    body .our_projects .our_projects_container .container_item .projects_item .difuminado{ position: absolute; left: 0; bottom: 0; overflow-y: hidden;} 
    body .our_projects .our_projects_container .container_item .projects_item figure{ display: flex; max-width: 100%; justify-content: center; width: 100%; height: 100%; }
    body .our_projects .our_projects_container .container_item .projects_item figure img{ width: 100%; height: 100%; max-width: 100%; object-fit: fill; } 
    
    body .testimonial h4{ font-size: 1.5em; }
    body .testimonial h2{ font-size: 2.5em; }
    body .testimonial .container{ margin-top: 70px; position: relative; top: 0; left: 10%; width: 80vw; }
    body .testimonial .container .testimonial_grid { display: flex; }
    body .testimonial .container .testimonial_grid .card_testimonial{ margin-right: 15px; }
    body .testimonial .container .testimonial_grid .card_testimonial .card_container h4{ font-size: 1.2em; }
    body .testimonial .container .testimonial_grid .card_testimonial .card_container h3{ font-size: 1em; }
    body .testimonial .container .testimonial_grid .card_testimonial .card_container p{ font-size: 12px; }

    .galletas{ font-size: .8em; }
    #galleta1{ font-size: 14px; }
}

@media screen and (min-width: 900px) {

    body header{ margin-bottom: 100px;}
    body header .logo .info_header{ display: block; margin: 0 30% 0 18%; padding: 40px 25px; text-align: center; }
    body header .logo .info_header a{ font-family: 'myriad', sans-serif; color:#d87a1d; font-weight: bold; font-size: 15px; } /* Cambiado de #eb7305 */
    body header .logo .red_social{ display: block; width: 20%; position: absolute; top: 35px; right: 20px; height: 40px; padding-left: 20px;}
    body header .logo .red_social a{ width: 11%; height: 30px;display: inline-block; margin: 2px 2px 0 10px; padding: 3px; }
    body header .logo .red_social a::before{ color: #eb7305; font-family: "icomoon"; text-decoration: none; font-size: 1.2em; }
    body header .logo .red_social a:nth-child(1)::before{content: "\ea90";}
    body header .logo .red_social a:nth-child(2)::before{content: "\ea92";}
    body header .logo .red_social a:nth-child(3)::before{content: "\ea93";}
    body header .logo .red_social a:nth-child(4)::before{content: "\eaca";}
    body header .logo .red_social a:hover::before{color: #ffffff;}
    body header .header_hr{ display: block; background-color: #4d5566; height: 2px; position: absolute; top: 100px; left: 0; width: 100vw; z-index: 2;}
    body header .logo .header_content { position: absolute; top: 100%; transform: translateY(70%);  left: 30px; }
    body header .logo .header_content h1{ font-size: 60px; }
    body header .logo .header_content p{ font-size: 1.5rem; padding-bottom: 2rem; }
    body header .logo #show_menu{ display: none; color:#eb7305; width: 50px; height: 50px; position: absolute; top: 20px; right: 30px; }
    body header nav { /*color: #ffffff;*/ display: block; width: 100vw; background-color: transparent;  height: 40px; position: absolute; top: 120px; left: 0; z-index: 2; }
    body header nav ul{ display: flex; list-style: none; margin-bottom: 60px; }
    body header nav ul li{ cursor: pointer; padding: 10px 20px; position: relative; top: 0; left: 15%; }
    body header nav ul li a { font-family: 'Ubuntu'; font-size: 16px; color: #ffffff; text-decoration: none; /*#0a0a3c;*/ } /* Cambiado de #090024 */
    body header nav ul li a:hover { color: #d87a1d; } /* Cambiado de #eb7305 */
       
    body .btn_action_section .btn_action_container{ display: flex; width: 85%; position: relative; top: 0; left: 7%;}
    body .btn_action_section .btn_action_container div{ width: 25%; margin-right: 80px; text-align: center;  margin-top: 30px; }
    body .btn_action_section .btn_action_container #btn-cotizar a,
    body .btn_action_section .btn_action_container #btn-services a{ color: #ffffff; margin-right: 30px;}
    body .btn_action_section .btn_action_container #btn-cotizar:hover{ border: none; background-color: #eb7305; }
    body .btn_action_section .btn_action_container #btn-services:hover{background-color: #eb7305; color: white; font-weight: bold;}

    body .services .services_content h2{ font-size: 2.5em; }    
    body .about .about_content .about_colum{ height: 550px; }
    body .about .about_content h2{ font-size: 2.5em; }
    body .our_projects h2{ font-size: 2.5em; }
    body .testimonial h2{ font-size: 2.5em; }
    body .testimonial h4{ font-size: 1.5em; }
    body .section_quote .content_background .content_quote h2{ font-size: 2.5em; }
    body .section_quote .content_background .content_quote p{ font-size: 1.2em; }
    .galletas{font-size: .9em;}
    #galleta1{font-size: 15px;}    
    body footer .contentec_footer .contenct_social_copy .footer_copy{color: #f4f4f4;font-size: .9em;text-align: left;width: 65%;}
}

@media only screen and (min-width: 1024px){

    body header .logo figure{ margin-left: 7%; }
    body header .logo .info_header{ margin: 0 30% 0 20%; }
    body header .logo .info_header a{ font-size: 18px; } 
    body header .logo .header_content { position: absolute; top: 100%; transform: translateY(60%);  left: 0; }
    body header .logo .header_content h1{ font-size: 60px; margin-bottom: 0; }
    body header .logo .header_content p{ font-size: 1.2rem; display: block; padding-bottom: 2rem; }

    body .btn_action_section{ margin-top: 0; padding-bottom: 30px; }
    body .btn_action_section .btn_action_container{ display: flex; width: 90%; position: relative; top: 0; left: 90px; }
    body .btn_action_section .btn_action_container div{ height: 30px; width: 20%; margin-top: 30px; padding: 10px; }
    body .btn_action_section .btn_action_container #btn-services{ font-size: 1em; margin: 30px 100px 0 0; line-height: 1.5em; text-align: center; }
    body .btn_action_section .btn_action_container #btn-cotizar{ font-size: 1.1em; line-height: 1.5em; text-align: center; }
    body .btn_action_section .btn_action_container #btn-services a,
    body .btn_action_section .btn_action_container #btn-cotizar a{ margin-left: 20px; }
    body .btn_action_section .btn_action_container #btn-services:hover{background-color: #eb7305; color: white; font-weight: bold; }
    body .btn_action_section .btn_action_container #btn-cotizar:hover{border: none; background-color: #eb7305; color: white; font-weight: bold; height: 30px; }    
    body .container_cookies .contenido{ width: 70%; max-width: 70%; position: absolute; top: 10%; left: 15%; }
    body .container_cookies .overlay_cookies p{ padding: 20px 12% 0 0; }

    body .services .services_content { width: 100%; height: auto; }
    body .services .services_content .general_container{ width: 67%; height: auto; margin-left: 17%;}
    body .services .services_content .services_item div h3{ font-size: 1.3rem; }
    body .services .services_content .services_item div p{ font-size: 1rem; }
    body .services .services_content .services_item div p a{ color: #333; font-size: 1rem; }

    body .about{ margin-bottom: 100px; }
    body .about .about_content h2{ margin-bottom: 30px; }   
    body .about .about_content .about_colum{ height: 90vh; position: static; top: 0; left: 0;}
    body .about .about_content .general_container .content_item{ height: auto;  width: 70%; margin-left: 15%; margin-top: 60px; margin-bottom: 50px; position: relative; top: 0; left: 0; }
    body .about .about_content .general_container .content_item .devsoft{ width: 40%; height: 100%; }
    body .about .about_content .general_container .content_item .profile{ width: 65%; height: auto; }
    body .about .about_content .general_container .content_item .profile p{ transform: translateY(15%); font-size: 1rem; }    
    body .about .about_content .general_container a{ background-color: #eb7305; font-size: 1em; margin-left: 33%; width: 30%; }
    
    body .testimonial .container{ margin-top: 70px; position: relative; top: 0; left: 17%; width: 65vw; }  

    body .our_projects{ margin-bottom: 200px;}
    body .testimonial{ margin-bottom: 200px; }
    body .testimonial .container .testimonial_grid .card_testimonial .card_container p{ font-size: 15px; }
    body .testimonial .container .testimonial_grid .card_testimonial .card_container h4{ font-size: 1.5em; }
    body .testimonial .container .testimonial_grid .card_testimonial .card_container h3{ font-size: 1.2em; }
    
    body .section_quote .content_background .content_quote{ display: flex; position: relative; top: -55px; left: 10%; width: 80vw; height: auto; }    
    body .section_quote .content_background .content_quote h2{ font-size: 2.5em; }
    body .section_quote .content_background .content_quote p{ font-size: 18px; }    
    body .section_quote .content_background .content_quote .quote_form form{ width: 80%; margin-left: 10%;} 
    body .section_quote .content_background .content_quote .quote_form form label{ font-size: 17px; }
    body .section_quote .content_background .content_quote .quote_form form select{ font-size: 17px; }
    body .section_quote .content_background .content_quote .quote_form form input{ font-size: 17; }
    
    body .section_quote .content_background .content_quote .quote_form form textarea{ font-size: 17px; }
    body .section_quote .content_background .content_quote .quote_form form button{ background-color: #eb7305; color: #fff; border: none; border-radius: 5px; font-size: 18px; font-weight: bold;padding: 12px 5px; width: 95%; }
}

@media only screen and (min-width: 1400px) {
    
    body header .logo figure{ margin-left: 15%; }
    body header .logo .red_social{ margin-right: 10%; }
    body header .logo .info_header{ margin: 0 30% 0 13%; }    
    body header .logo .header_content { position: absolute; top: 100%; transform: translateY(90%);  left: 9%; margin-right: 11%; width: 80%; }
    body header .logo .header_content h1{ font-size: 65px; margin-bottom: 0; }
    body header .logo .header_content p{ font-size: 1.5rem; display: block; padding-bottom: 2rem; }
    body header nav ul li{ cursor: pointer; padding: 10px 20px; position: relative; top: 0; left: 25%; }

    body .services .services_content h2{ font-size: 2.5em; padding-top: 60px; margin-left: 9%; width: 100%; display: block; }    
    body .services .services_content .general_container{ width: 95%; height: auto; display: flex; margin: 0 2%; }
    body .services .services_content .general_container .services_item{ width: 85%; height: auto; margin-left: 0; }
    body .services .services_content .general_container .services_item .hover_item h3{ font-size: 1 .5rem; }
    body .services .services_content .general_container .services_item .hover_item p{ font-size: 1rem; }
  
    body .about .about_content .general_container .content_item .devsoft{ width: 25%; height: 100%; }
    body .about .about_content .general_container .content_item .profile{ width: 65%; height: auto; }
    body .about .about_content .general_container .content_item .profile p{ transform: translateY(15%); font-size: 1.2rem; }
    body .about .about_content .general_container a{ background-color: #eb7305; font-size: 1.1em; margin-left: 33%; width: 25%; }
   
    body .testimonial .container{ margin-top: 70px; position: relative; top: 0; left: 13%; margin-right: 20%; width: 75vw; }
    body .section_quote .content_background .content_quote{ display: flex; position: relative; top: -55px; left: 13%; margin-right: 20%; width: 75vw; height: auto; }    
    
}

@media only screen and (min-width: 1600px) {
        
    body header .logo .info_header{ margin: 0 30% 0 14%; }    
    body header .logo .header_content { position: absolute; top: 100%; transform: translateY(100%);  left: 9%; margin-right: 10%; width: 80%; }
    body header .logo .header_content h1{ font-size: 70px; margin-bottom: 0; }
    body header .logo .header_content p{ font-size: 1.5rem; display: block; padding-bottom: 2rem; }
    body header nav ul li{ cursor: pointer; padding: 10px 20px; position: relative; top: 0; left: 30%; }
    
    body .container_cookies .contenido{ width: 50%; max-width: 50%; position: absolute; top: 10%; left: 15%; }
    body .container_cookies .overlay_cookies p{ padding: 40px 12% 0 0; }

    body .about .about_content .about_colum{ height: 80vh; position: static; top: 0; left: 0;}
    body .about .about_content .general_container .content_item{ transform: translateY(20%); margin-bottom: 200px;}
    body .about .about_content .general_container .content_item .devsoft{ width: 25%; height: 100%; }
    body .about .about_content .general_container .content_item .profile{ width: 65%; height: auto; }
    body .about .about_content .general_container .content_item .profile p{ transform: translateY(15%); font-size: 1.2rem; }    
    body .about .about_content .general_container a{ background-color: #eb7305; font-size: 1.1em; margin-left: 38%; width: 20%; }  

    body .testimonial .container{ margin-top: 70px; position: relative; top: 0; left: 15%; width: 70vw; } 
    body .section_quote .content_background .content_quote{ display: flex; position: relative; top: -55px; left: 17%; margin-right: 20%; width: 65vw; height: auto; }
}

@media only screen and (min-width: 1800px) {   
    body header .logo .header_content { position: absolute; top: 100%; transform: translateY(100%);  left: 9%; margin-right: 10%; width: 80%; }
    body header .logo .header_content h1{ font-size: 75px; margin-bottom: 0; }
    body header .logo .header_content p{ font-size: 1.5rem; display: block; padding-bottom: 2rem; }

    body .container_cookies .contenido{ width: 50%; max-width: 50%; position: absolute; top: 10%; left: 25%; }
    body .container_cookies .overlay_cookies p{ padding: 50px 23% 0 0; }  

    body .about .about_content .about_colum{ height: 90vh; position: static; top: 0; left: 0;}
    body .services .services_content h2{ font-size: 2.5em; padding-top: 60px; margin-left: 15%; width: 100%; display: block;}    
    body .services .services_content .general_container{ width: 70%; height: auto; display: flex; margin-left: 14%;}
    body .services .services_content .general_container .services_item{ width: 70%; height: auto; margin-left: 0; }
    body .services .services_content .general_container .services_item .hover_item h3{ font-size: 1 .5rem; }
    body .services .services_content .general_container .services_item .hover_item p{ font-size: 1rem; }

}
